h1 {
	color:#777777;
}

.full {
    background: url(../bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100vh;
}


.row {
 	padding:40px;
 	background-color: rgba(0, 0, 0, 0.1);
}

#success {
	margin-top: 80px;
}