
{% extends 'albums/base.html' %}
{% load staticfiles %}
{% block title %}hello{% endblock %}

{% block body_block %}
  
		<div class="text-center">
             <h1>{{ user.username }}'s Albums</h1>
             <p>hello there</p>
             <div id="msg">Hello</div>
        </div>
<br>
<br>

		{% if gallery %}
            <div class="row">
                {% for i in gallery %}
                <div class="col-md-12">
                	<div class="well">
                    	<a href = "{{ i.albums.slug }}"><img class="thumbnail img-responsive" src="../media/{{ i.albums.cover_picture }}" alt="Picture of Rango" /></a>
                	</div>
            	</div>
                <!-- Following line changed to add an HTML hyperlink -->
                
                {% endfor %}
                <div class="col-md-12">
                	<div class="well">
                    	<a href = "/albums/new/"><img class="img-responsive" id ="pic" src="{% static "images/newalbums.png" %}" /></a>
                	</div>
            	</div>
            </div>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
       
    {% endblock %}
    
