
{% extends 'albums/base.html' %}

{% load staticfiles %}
{% block title %}hello{% endblock %}

{% block head_block %}



  <script src="{% static "js/jquery-2.2.2.min.js" %}"></script>
  <script src="{% static "js/albums-jquery.js" %}"></script>
  <script src="{% static "js/albums-validate.js" %}"></script>

{% endblock %}

{% block body_block %}

<div class="text-center">
    <h1>{{ user.username }}'s Albums</h1>
</div>


<br>
<br>

{% if gallery %}
    <div class="row">
        {% for i in gallery %}
        <div class="col-md-12">
            <div class="well">
                <a href = "{{ i.albums.slug }}"><img class="thumbnail img-responsive" src="/media/{{ i.albums.cover_picture }}" alt="pic" /></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="col-md-12">
    <div class="well">
        <a data-toggle="modal" data-target="#myModal" href=""><img class="img-responsive" id ="pic" src="{% static "images/newalbums.png" %}" /></a>
    </div>
</div>



<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
        	<form action="{% url 'new' %}" method="post" id="new_album_form" enctype="multipart/form-data" role="form">
        	{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Choose Cover Photo & Title</h4>
                </div>

                <div class="modal-body">

                    {% for field in new_album_form %}

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 form-control-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}e" class="col-sm-5" style="color:red;">
                        </div>
                    </div>

       			 {% endfor %}


             <br>
   			 <p>You'll be able to choose collaborators and others to share with in the options bar on the next page</p>
			</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

    {% endblock %}

