<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>albums</title>
    </head>

    <body>
		
		<h1>Albums says... hello {{ user.username }}!</h1>
		
		<h2>Add photos, new day</h2>
		<a href="#">Click here to add</a>
    	<br><br>
   		<h3>This is the cover photo</h3>
    	<img src="{% static "images/bridge.jpg" %}" alt="bridge picture" />
   		<br>
		<a href="/albums/logout/">Logout</a><br />
				
		{% if gallery %}
		<h3>{{ user.username }}'s Albums</h3>
            <ul>
                {% for i in gallery %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><strong>{{ i.albums.title }} </strong></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
		
    </body>
    
    <a href="/albums/new/">New Album</a>
    <br>
</html>