
{% extends 'albums/base.html' %}
{% load staticfiles %}
{% block head_block %}
 <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}
{% block invalid_credentials_block %}
{% if validate %}
 <div class="form-group" style="color:red;">Invalid log in details&nbsp; </div>
{% endif %}
 {% endblock %}

{% block body_block %}





<div class = "full">
<div class="container">
	<h1>Not registered? Sign Up below</h1>
	<br><br>
    <div class="row">

        <div class="col-md-5">
        	<h2>Sign up to start sharing your most important memories with your most important people! </h2>

            <div class="col-md-12" id="success">
                {% if registered %}
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Registration complete! Sign in with details above.</strong>
                </div>
                {% endif %}
                {% if failed %}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Registration failed! Please check all inputs and try again.</strong>
                </div>
                {% endif %}
            </div>
        </div>

		<form id="user_form" method="post" action="/signup/" enctype="multipart/form-data">
        {% csrf_token %}
        	<div class="col-md-5 col-md-offset-1">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">{{user_form.username.label}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">{{user_form.email.label}}</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">{{user_form.password.label}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">{{user_form.first_name.label}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Enter First Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">{{user_form.last_name.label}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPhoto">{{profile_form.picture.label}}</label>
                    <div class="input-group">
                        <input type="file"  id="picture" name="picture" placeholder="Upload Photo">
                   </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Register" class="btn btn-secondary pull-right">
            </div>
        </form>

    </div>
</div>
</div>

{% endblock %}
