
{% extends 'albums/base.html' %}
{% load staticfiles %}
{% block head_block %}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.18/dist/jquery.flip.min.js" ></script>
	<script>
		$(function() {
        	$(".card").flip({
           		trigger: 'click'
        	});
    	});
	</script>
	
	<script>
	$(function() {
	var $picHeight = $(.pic).height();
	var $picWidth = $(.pic).width();
  		$(".card").width(picWidth).height(picHeight);
	});
	</script>
	<style>

	#test {
    overflow: scroll;
    height:90vh;
    
}


.carousel img {

  min-width: 100%;
  height: 500px;
  max-height: 500px;

}

.card {
height: 300px;
}

.back {
padding:50px !important;
background-color:#f2f2f2;
    overflow: scroll;
    height: 70%;

}

#fi {
margin-top:20px;
}

#cover {
margin-top:100px;
border-right: solid;
}


#pic {
width:100%;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   
}

#comment {

width:100% !important;
}

#message {

padding-top:15px !important;
}

#thread {
margin-bottom:15px !important;
}



	
	</style>

{% endblock %}

{% block body_block %}


<div id="carousel-example" class="carousel slide" data-interval="false">
	<ol class="carousel-indicators">
 	 	{% for cover in covers %}
		<li data-target="#carousel-example" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
		{% endfor %}
  </ol>

  <div class="carousel-inner">
    
    <div class="item active">
      <a href="#"><img id="pic" src="/media/{{ album.cover_picture }}" alt="cover photo" /></a>
      <div class="carousel-caption">
        <h2>{{ album.title }}</h2>
        <h3>21st February 2014</h3>
      </div>
    </div>
    
    {% for cover in covers %}
    
    <div class="item">
      <a href="#"><img src="/media/{{ cover.cover_picture }}" /></a>
      <div class="carousel-caption">
        <h3>{{ cover.title }}</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


	{% if photos %}
	<div class = "row" id="fi">
		{% for photo in photos %}
			{% if photos %}
			<div class="col-lg-4 nopadding">
				<div class="card">
					<div class="front">
						<img id ="pic" src="/media/{{ photo.photo }}" />
					</div>
	  			<div class="back" style="padding: 10px;">
        			<div style="height: 100%">
        				{% for message in comments %}
        				{% if message.photo =  photo %}	
        				<div class="row" id="thread">	
        					<div class="col-xs-2">
        						 <img class="img-circle center-block" src=" /media/{{message.usr.profile.picture}}" alt="Cinque Terre" width="50" height="50">
        					</div>
        					<div class="col-xs-10 id="message">
        						<p>{{message.usr.username}}: {{message.comment}}</p>
        					</div>
           				 </div>
           				 {% endif %}
           				 {% endfor %}
           				 <div class="row">
           				 <form class ="form-inline" action="" method="post">
           				 	<div class="form-group col-xs-10">
                        		<input id="comment" style class="form-control" name="username" placeholder="Comment" type="text">
                    		</div>
                    		
                    		<button type="submit" class="btn btn-default">Post</button>
                    		
						 </form>                    		
           				 </div>
        			</div>
    			</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
			<div class="col-lg-4 nopadding">
				<a data-toggle="modal" data-target="#myModal" href=""><img class="img-responsive" id ="pic" src="{% static "images/newphoto.png" %}" /></a>
			</div>
    </div>
    {% endif %}
    
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
        	<form action="{% url 'upload' %}" method="post" id="file_upload_form" enctype="multipart/form-data" role="form">
        	{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload Photo</h4>
                </div>
                <div class="modal-body">
                    <div id="messages">
                    </div>
            {% for hidden in upload_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in upload_form.visible_fields %}
                {{ field }}
            {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
    	<!--
		<div id = "cover" class="col-md-5">
		    <div class="text-center">
       			<h1>{{ album.title }}</h1>
   	 		</div>
		    <div class="text-center">
       			<h4>21st March 2014</h4>
   	 		</div>
            <div class="well">
                <img class="thumbnail img-responsive" src="/media/{{ album.cover_picture }}" alt="Memory Cover" />
            </div>
		</div>
		<div id = "test" class="col-md-7">
			{% if photos %}
	    	{% for photo in photos %}
	    	<div class="col-md-5">
        	<div class="card">
   				<div class="front" style="padding: 10px;">
       				<img id="pic" src="/media/{{ photo.photo }}" alt="Picture of Rango" />
    			</div>
    			<div class="back" style="padding: 10px;">
        			<div style="height: 100%">
        				{% for message in comments %}
        				{% if message.photo =  photo %}		
           				<p>{{message.usr.username}}: {{message.comment}}</p>
           				 {% endif %}
           				 {% endfor %}
        			</div>
    			</div>
			</div>
			</div>
       		{% endfor %}
		</div>-->
	
     {% else %}
            <strong>There are photos to show.</strong>
       {% endif %}
       
         <div>
           <a href="/albums/test">Test</a>
           </div>
        
{% endblock %}