
{% extends 'albums/base.html' %}
{% load staticfiles %}
{% block head_block %}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.18/dist/jquery.flip.min.js" ></script>
	<script>
		$(function() {
        	$(".card").flip({
           		trigger: 'click'
        	});
        $(".noflips").click(function(event) {
    		event.stopPropagation();
			});
    	});
	</script>
	
	<script>
	$(function() {
	var $picHeight = $(.pic).height();
	var $picWidth = $(.pic).width();
  		$(".card").width(picWidth).height(picHeight);
	});
	</script>
	<style>

	#test {
    overflow: scroll;
    height:90vh;
    
}


.carousel img {

  min-width: 100%;
  height: 500px;
  max-height: 500px;

}

.card {
height:300px;
}

.back {
padding:50px !important;
background-color:#f2f2f2;
    overflow: scroll;
    height: 70%;

}

#fi {
margin-top:20px;
}

#cover {
margin-top:100px;
border-right: solid;
}


#pic {
width:100%;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   
}

#comment {

width:100% !important;
}

#message {

padding-top:15px !important;
}

#thread {
margin-bottom:15px !important;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

	
	</style>

{% endblock %}

{% block nav_options_block %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
    <ul class="dropdown-menu">
		<li class="dropdown-submenu"> <a tabindex="-1" href="#">Currently Shared With </a>
       		<ul class="dropdown-menu">
       		{% for user in shared %}
            <li><a tabindex="-1" href="#">{{ user.usr.username }}</a></li>
      		{% endfor %}
       		</ul>
    	</li>
        <li><a href="#">Share With</a></li>
        <li><a href="#">Another Option</a></li>
        <li class="divider"></li>
    	<li><a href="#">Delete Album</a></li>
    	<li class="divider"></li>
    </ul>
</li>



{% endblock %}

{% block body_block %}


<div id="carousel-example" class="carousel slide" data-interval="false">
	<ol class="carousel-indicators">
 	 	{% for cover in covers %}
		<li data-target="#carousel-example" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
		{% endfor %}
  </ol>

  <div class="carousel-inner">
    
    <div class="item active">
      <a href="#"><img id="pic" src="/media/{{ album.cover_picture }}" alt="cover photo" /></a>
      <div class="carousel-caption">
        <h2>{{ album.title }}</h2>
        <h3>21st February 2014</h3>
      </div>
    </div>
    
    {% for cover in covers %}
    
    <div class="item">
      <a href="#"><img src="/media/{{ cover.cover_picture }}" /></a>
      <div class="carousel-caption">
        <h3>{{ cover.title }}</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


	{% if photos %}
	<div class = "row" id="fi">
		{% for photo in photos %}
			{% if photos %}
			<div class="col-lg-4 nopadding">
				<div class="card">
					<div class="front">
						<img id ="pic" src="/media/{{ photo.photo }}" />
					</div>
	  			<div class="back" style="padding: 10px;">
        			<div style="height: 100%">
        				{% for message in comments %}
        				{% if message.photo =  photo %}	
        				<div class="row" id="thread">	
        					<div class="col-xs-2">
        						 <img class="img-circle center-block" src=" /media/{{message.usr.profile.picture}}" alt="Cinque Terre" width="50" height="50">
        					</div>
        					<div class="col-xs-10 id="message">
        						<p>{{message.usr.username}}: {{message.comment}}</p>
        					</div>
           				 </div>
           				 {% endif %}
           				 {% endfor %}
           				 <div class="row">
           				 <div class="noflips">
           				 <form class ="form-inline" action="{% url 'comment' %}" method="post" id="message_post">{% csrf_token %}
           				 	<div class="form-group col-xs-10">
                        		<input id="comment" style class="form-control" name="comment" placeholder="Comment" type="text">
                        		<input id="photoID" style class="form-control" name="photoID" value="{{ photo.id }}" type="hidden" >
                    		</div>
                    		
                    		<button type="submit" class="btn btn-default">Post</button>
                    		
						 </form>     
						 </div>               		
           				 </div>
        			</div>
    			</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
			<div class="col-lg-4 nopadding">
				<a data-toggle="modal" data-target="#myModal" href=""><img class="img-responsive" id ="pic" src="{% static "images/newphoto.png" %}" /></a>
			</div>
    </div>

    
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
        	<form action="{% url 'upload' %}" method="post" id="file_upload_form" enctype="multipart/form-data" role="form">
        	{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload Photo</h4>
                </div>
                <div class="modal-body">
                    <div id="messages">
                    </div>
            {% for hidden in upload_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
			
			
            {% for field in upload_form.visible_fields %}
                {{ field }}
            {% endfor %}
            

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
        
{% endblock %}