    <!-- Fixed navbar -->
    <head>
    
        	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
    body {
  padding-top: 70px;
  border:1px solid black;
  height:800px;
}

.mygrid-wrapper-div {
    border: solid red 5px;
    overflow: scroll;
    height: 70%;
}
    </style>
    </head>
<body>

    <h2>Page heading - I don't want this to scroll either</h2>
        
    <div class="mygrid-wrapper-div">
        <table class="table">
            <thead>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
                <th>Column 6</th>
                <th>Column 7</th>
                <th>Column 8</th>
                <th>Column 9</th>
                <th>Column 10</th>
                <th>Column 11</th>
                <th>Column 12</th>
                <th>Column 13</th>
                <th>Column 14</th>
            </thead>
            <tbody>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
             <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            <tr>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
                <td>Lotsa text here</td>
            </tr>
            </tbody>
       </table>
   </div> <!-- /container -->
</body>